.login
	padding 3em
	max-width 400px
	margin auto
	position relative
	top 50%
	transform translateY(-50%)

.button
	float left

.bg
	background-image url('https://unsplash.it/1920/1080?image=990&blur')
	background-size cover
	position absolute
	height 100vh
	width 100vw
	top 0
	left 0
	opacity .8

.container
	height 100%
	width 100%