:global {

  html {
    box-sizing: border-box;
  }

  html,
  body {
    font-family 'Roboto'
    margin: 0;
    padding: 0;
    height: 100%;
    background-color #f6f6f6
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}
