.core
	lost-utility clearfix
	lost-center 100%

.main
	lost-column 5/6 0
	transition all 400ms ease-in-out-cubic
	transform translateX(15px)

.mainOpen
	transform translateX(calc((99.99% * .5/6 - 15px) * -1))