.leftNav
	lost-column 1/6
	height 100vh
	transition: all 400ms ease-in-out-cubic;

.leftNavOpen
	transform translateX(-100%)

.rightIcon
	height 48px
	position absolute
	top 50%
	right 0px
	transform translateY(-50%)